In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for someChar in "Hello World":
  print(someChar)

H
e
l
l
o

W
o
r
l
d

In [ ]:
for (x, y) in [('a',1), ('b',2), ('c',3), ('d',4)]:
  print(x)

a
b
c
d

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
mylist = "hello world"

In [ ]:
for i in range(len(mylist)):
  print (i, mylist[i])

0 h
1 e
2 l
3 l
4 o
5
6 w
7 o
8 r
9 l
10 d

In [ ]:
for (i, item) in enumerate(mylist):
  print(i,item)

0 h
1 e
2 l
3 l
4 o
5
6 w
7 o
8 r
9 l
10 d